$prefix: global--;
$root: '/static/wtf';

$colors: (
    'white': #fff,
    'white-darken': #f0f4f5,
    'black': #000,
    'black-lighten': #252525,

    'alpha': rgba(0,0,0,.4),
    'alpha-lighten': rgba(0,0,0,.3),
    'alpha-darken': rgba(0,0,0,.1),

    'red': #ee4242,
    'red-lighten': lighten(#ee4242,10%),
    'red-darken': darken(#ee4242, 15%),

    'orange': #ff8157,
    'orange-lighten': lighten(#ff8157,10%),
    'orange-darken': darken(#ff8157, 15%),

    'green': #44d26b,
    'green-lighten': lighten(#44d26b,10%),
    'green-darken': darken(#44d26b, 15%),

    'cta': #ff0,
    'cta-lighten': lighten(#44d26b, 30%),
    'cta-darken': darken(#44d26b, 3%),

    'transparent': transparent
);

$fonts: (
    //max 4 each
    light: (
        font-family: #{'Source Sans Pro', Helvetica Neue, Arial, sans-serif},
        font-weight: 300,
    ),
    normal: (
        font-family: #{'Source Sans Pro', Helvetica Neue, Arial, sans-serif},
        font-weight: 400
    ),
    bold: (
        font-family: #{'Source Sans Pro', Helvetica Neue, Arial, sans-serif},
        font-weight: 600
    ),
    icons: (
        font-family: #{car},
        font-weight: normal
    )
);

$typo: (
    //based on: https://drewish.com/tools/vertical-rhythm/
    //base font-size:16px
    //base line-height: 22px

    reset: (
        font-size: 16px,
        line-height: 22px,
        margin-top: 1.5714em,
        margin-bottom: .0000em,
    ),

    s: (
        font-size: .8750em, /* 14px */
        line-height: 1.5714em, /* 22px */
        margin-top: 1.5714em,
        margin-bottom: .0000em,
    ),

    body: (
        font-size: 1.0000em, /* 16px */
        line-height: 1.3750em, /* 22px */
        margin-top: 1.3750em,
        margin-bottom: .0000em,
    ),

    m: (
        font-size: 1.1250em, /* 18px */
        line-height: 1.2222em, /* 22px */
        margin-top: 1.2222em,
        margin-bottom: .0000em,
    ),

    l: (
        font-size: 1.2500em, /* 20px */
        line-height: 1.1000em, /* 22px */
        margin-top: 1.1000em,
        margin-bottom: .0000em,
    ),

    xl: (
        font-size: 1.3750em, /* 22px */
        line-height: 1.0000em, /* 22px */
        margin-top: 1.0000em,
        margin-bottom: .0000em,
    ),

    xxl: (
         font-size: 1.5000em, /* font-size: 24px */
         line-height: 1.8333em, /* line-height: 44px */
         margin-top: .9167em,
         margin-bottom: .0000em
    )
);

$font-weights: 300 400 600 bold bolder normal;

$breakpoints: (
    xs: "screen and (max-width: 320px)",
    s: "screen and (max-width: 480px)",
    m: "screen and (max-width: 768px)",
    l: "screen and (max-width: 1024)",
    xl: "screen and (max-width: 1140px)",
    xxl: "screen and (max-width: 1280px)",
    retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)",
);

$opacity: (
    hide: 0,
    show: 1,
    s: .25,
    m: .5,
    l: .75,
);

$sizes: (
    none: 0,
    xxs: .25em,
    xs: .5em,
    s: .75em,
    m: 1em,
    l: 1.5em,
    xl: 2em,
    xxl: 2.5em
);

$box-shadow: (
    hide: 0 0 0 0 transparent,
    s: 0 4px 1px -2px rgba(0,0,0,.5),
    m: 0 4px 1px -2px rgba(0,0,0,.5),
    l: 0 4px 1px -2px rgba(0,0,0,.5),
);

$patterns: (
    white: '/static/wtf/img/layout/pattern-banner.gif',
    blue: '/static/wtf/img/layout/section-blue-pattern.png',
    yellow: '/static/wtf/img/layout/section-yellow-pattern.png',
    pink: '/static/wtf/img/layout/section-pink-pattern.png',
    green: '/static/wtf/img/layout/section-green-pattern.png',
);

$transitions: (
    speed: (
        xs: 250ms,
        s: 500ms,
        m: 750ms,
        l: 1000ms,
        sl: 1500ms
    ),
    timing: (
        easing: ease-in-out,
        ease-in: ease-in,
        ease-out: ease-out
    )
);

//VIEWS

