/* line 3, ../sass/screen.scss */
body {
  font-family: arial;
  font-size: 10px;
  position: relative;
  display: block;
  color: green;
  border: 1px solid red;
  background-color: purple;
  windows: 1;
}
/* line 16, ../sass/screen.scss */
body .font {
  display: inline;
  color: red;
  background-color: blue;
  box-shadow: 3px 3px 3px red;
}
/* line 23, ../sass/screen.scss */
body .google {
  font-family: arial;
  position: relative;
  top: 4px;
  box-sizing: border-box;
  margin-left: 5px;
  color: blue;
  outline: 5px solid red;
  text-shadow: 3px 2px blue;
}
