/* line 3, ../sass/screen.scss */
body {
  font-family: arial;
  position: relative;
  display: block;
  color: blue;
  border: 4px solid green;
  background-color: purple;
  windows: 1;
  border: 1px solid red;
}

/* line 17, ../sass/screen.scss */
.font {
  background-color: blue;
  display: inline;
  color: red;
  box-shadow: 3px 3px 3px red;
}

/* line 24, ../sass/screen.scss */
.google {
  font-family: arial;
  position: relative;
  top: 4px;
  box-sizing: border-box;
  margin-left: 5px;
  color: blue;
  outline: 5px solid red;
  text-shadow: 3px 2px blue;
}
