/*
    Available vertical rhythm's
    see var.sass for specs
*/

@each $name, $style in $typo
{
    /*@extend %v-rhythm--#{$name} */
    @include placeholder(v-rhythm--#{$name})
    {
        font-size: map-get($style, font-size);
        line-height: map-get($style, line-height);

        margin-top: map-get($style, margin-top);
        margin-bottom: map-get($style, margin-bottom);
    }
}
